@import url(http://fonts.googleapis.com/css?family=Ubuntu);
*{
	outline: 0px solid gray;
}
body{
	background-color: #FAFAFA;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	}
.fullcabecera{
	width: 100%;
	min-height: 50px;
	background: #FFF;
	border-bottom: 1px solid #DDD;	
}
header{
	width: 960px;
	margin: 0 auto;
}
.principal{
	position: relative;
}
/*Formularios*/
form{
	text-align: center;
	padding: 0.5em; 
}
form input, label,textarea{
	display: block; 
	width: 202px;
	max-width: 202px;
	margin: 0;
	padding: 0.2em;
}
input[type="submit"],input[type="reset"]{
	display: inline-block;
	width: 60px;
	margin: 0;
	background-color: #333;
	color: #FFF;
	border: none;
}
textarea{
	min-height: 60px;
	height: auto;
	overflow: 
}
/*Barra de Navegacion*/
.nav{
	background-color:;
	border-bottom: 2px solid #3B91EE;
	margin: 0 auto;
	width: 960px;
}
nav{
	width: 960px;
	margin: 0 auto;
	position: relative;
}
nav ul li{
	display: inline-block;
}
nav a{
	padding: 0.8em;
	display: block;
	text-decoration: none;
	color: #3B91EE;
	text-transform: uppercase;
	font-size: 0.8em;
	position: relative;
}
nav a.actual:after{
	content: " ";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 7px solid #3B91EE;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10px;
}
/*Formato de Contenidos*/
h1{
	padding:0.8em;
	padding-bottom: 0;
	font-size: 1.5em;
	text-shadow:0px 0px 4px #AAA;
	color: #666;
	letter-spacing: 0.2em;
}
h6{
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 0.8em;
	color: #666;
}
p{
	padding: 1em;
	font-size: 0.8em;
}
h2,h3,h4{
	padding:0.5em;
	text-transform: lowercase;
	font-size: 0.9em;
	margin-left: 1em;
}
hr{
	border-bottom: solid 1px #DDD;
}
img.ausente{
	width: 150px;
	height: 150px;
	border: dashed 1px #666;
	float: right;
}
/*Enlaces*/
a{
	color: #222;
	text-decoration: none;
	transition:all 0.3s;
}
a:hover{
	color: #D31900;
}
/*Formato de Estructuras divs*/
div.medio{
	background-color: #;
}
div.final{
	background-color: #EEE;
}
.cuerpo{
	min-height: 200px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.voluntad{
	background-color: #;
	box-shadow: 0px 0px 5px #99;
	min-height: 600px;
	border-left: 1px solid #DDD;
	margin-left: -1px;
}
.footer{
	min-height: 200px;
	background-color: #DDD;
}
table{
	border: solid 1px #222;
}
table td{
	border: solid 1px #444;
	padding: 1em;
}
.sticky{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #FAFAFA;
	width: 100%;
	border-bottom: 1px solid #3B91EE;
	left: 50%;
	margin-left: -480px;
}
.mapa{
	display: none;
}
.visible{
	display: block;
}